In [2]:
df = read.csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRkIwH94EktrYdv19S1dFxJGuqxCb1kaXAwEKrePJOvMIlsq-bsf7OQiS4FKSgxwhb5Kb00BUFV1d14/pub?gid=834996468&single=true&output=csv")
head(df, 5)

  Item_Identifier Item_Weight Item_Fat_Content Item_Visibility
1 FDA15            9.30       Low Fat          0.01604730
2 DRC01            5.92       Regular          0.01927822
3 FDN15           17.50       Low Fat          0.01676007
4 FDX07           19.20       Regular          0.00000000
5 NCD19            8.93       Low Fat          0.00000000
  Item_Type             Item_MRP Outlet_Identifier Outlet_Establishment_Year
1 Dairy                 249.8092 OUT049            1999
2 Soft Drinks            48.2692 OUT018            2009
3 Meat                  141.6180 OUT049            1999
4 Fruits and Vegetables 182.0950 OUT010            1998
5 Household              53.8614 OUT013            1987
  Outlet_Size Outlet_Location_Type Outlet_Type       Item_Outlet_Sales
1 Medium      Tier 1               Supermarket Type1 3735.1380
2 Medium      Tier 3               Supermarket Type2  443.4228
3 Medium      Tier 1               Supermarket Type1 2097.2700
4             Tier 3               Grocery Store      732.3800
5 High        Tier 3               Supermarket Type1  994.7052

In [4]:
summary(df)

 Item_Identifier     Item_Weight     Item_Fat_Content   Item_Visibility
 Length:8523        Min.   : 4.555   Length:8523        Min.   :0.00000
 Class :character   1st Qu.: 8.774   Class :character   1st Qu.:0.02699
 Mode  :character   Median :12.600   Mode  :character   Median :0.05393
                    Mean   :12.858                      Mean   :0.06613
                    3rd Qu.:16.850                      3rd Qu.:0.09459
                    Max.   :21.350                      Max.   :0.32839
                    NA's   :1463
  Item_Type            Item_MRP      Outlet_Identifier
 Length:8523        Min.   : 31.29   Length:8523
 Class :character   1st Qu.: 93.83   Class :character
 Mode  :character   Median :143.01   Mode  :character
                    Mean   :140.99
                    3rd Qu.:185.64
                    Max.   :266.89

 Outlet_Establishment_Year Outlet_Size        Outlet_Location_Type
 Min.   :1985              Length:8523        Length:8523
 1st Qu.:1987              Class :character   Class :character
 Median :1999              Mode  :character   Mode  :character
 Mean   :1998
 3rd Qu.:2004
 Max.   :2009

 Outlet_Type        Item_Outlet_Sales
 Length:8523        Min.   :   33.29
 Class :character   1st Qu.:  834.25
 Mode  :character   Median : 1794.33
                    Mean   : 2181.29
                    3rd Qu.: 3101.30
                    Max.   :13086.97

In [7]:
dim(df)
length(df)

[1] 8523   12

[1] 12

In [9]:
anyDuplicated(df)

[1] 0

In [16]:
colnames(df)[colSums(is.na(df)) > 0]

[1] "Item_Weight"